# .flake8
[flake8]
application-import-names = presidio_redcap,tests
docstring-convention = google
ignore = ANN101,E203,E501,W503
import-order-style = google
max-complexity = 10
per-file-ignores = tests/*:S101,ANN
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,S,W
